<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="dnGLua Local" value="%DNGLUA_PACKAGE_HOME%/" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>
